/* ------------------------------------------------------------footer--------------------------------------------------------------- */
footer {
    width: 100%;
    height: 450px;
    background-color: #ffffff;
    overflow: hidden;
}

.footer_logo {
    margin-top: 60px;
    margin-right: 20px;
    text-align: center;
}

.footer_logo img {
    width: 150px;
}

.footer_sub_head {
    color: #000000;
    font-size: 17px;
    width: 360px;
    font-weight: 300;
    margin-top: 25px;
    letter-spacing: 1px;
    text-align-last: left;
    font-family: "Lato", arial, sans-serif;
}

.floating_btn {
    width: auto;
    height: 50px;
    background-color: #1e955b;
    color: #000000;
    padding: 5px 15px;
    position: absolute;
    z-index: 0;
    right: -110px;
    bottom: 200px;
    text-decoration: none;
    transform: rotateZ(270deg);
    position: fixed;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.footer_contact {
    width: 250px;
}

.footer_email {
    width: 90px;
}

.footer_contact,
.footer_email {

    font-size: 17px;
    display: flex;
    flex-direction: column;
    font-family: "Lato", arial, sans-serif;
    text-decoration: none;
    text-align: left;
    color: #000000;
}

.footer_contact:hover,
.footer_email:hover,
.footer_call a:hover {
    color: #0ba584;
    text-decoration: underline;
}

.footer_sub_contact {
    margin-top: 20px;
}

.footer_call {
    font-size: 17px;
    display: flex;
    font-family: "Lato", arial, sans-serif;
    text-decoration: none;
    text-align: left;
    color: #000000;
}

.footer_call a {
    color: #000000;
    text-decoration: none;
}

.contact_btn {
    color: white;
    margin-top: 20px;
    width: 150px;
    height: 55px;
    border-radius: 40px !important;
}

.footer_btn {
    display: flex;
    justify-content: flex-start;
}

.footer_nav_list li {
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1px;
    list-style: none;
    font-family: "Lato", arial, sans-serif;
}

.footer_nav_list a {
    text-decoration: none;
    color: #000000;
}

.footer_nav_list a:hover {
    text-decoration: underline;
    color: #0ba584;
}

.footer_nav_list {
    margin-top: 150px;
    margin-left: 50px;
    text-align: right;
}

.share_icon_section {
    width: 100%;
    display: flex;
}

.share_icon {
    border-radius: 50%;
    background-color: white;
    padding: 8px;
    margin: 8px;
    border: 1px solid black;
}

.share_icon:hover {
    background-color: #202020;
    color: #fff;
}

.condition {
    color: #000000;
    font-size: 17px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-family: "Lato", arial, sans-serif;
    text-align: left;
}

.terms {
    color: #000000;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 17px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-family: "Lato", arial, sans-serif;
    text-align: left;
}

.terms a {
    text-decoration: none;
    color: #000000;
}

.terms a:hover {
    text-decoration: underline;
    color: #0ba584;
}