/* ------------------------------------------------------------footer--------------------------------------------------------------- */
footer {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    background-image: url('Images/footer_img.png');
    background-size: cover;
    overflow: hidden;
}

.footer_section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 100px;
}

.footer_menu_row {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: flex-start;
    align-items: center;
}

.footer_menu_col {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_logo {
    text-align: center;
}

.footer_logo img {
    width: 100px;

}

.footer_text_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer_terms_row {
    position: relative;
    top: -10px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.footer_sub_head {
    color: #000000;
    font-size: 15px;
    width: 360px;
    font-weight: 300;
    margin-top: 0px;
    letter-spacing: 1px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "Lato", arial, sans-serif;
}

.floating_btn {
    width: auto;
    height: 50px;
    background-color: #1e955b;
    color: #000000;
    padding: 5px 15px;
    position: absolute;
    z-index: 0;
    right: -110px;
    bottom: 200px;
    text-decoration: none;
    transform: rotateZ(270deg);
    position: fixed;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.footer_contact {
    width: 250px;
}

.footer_email {
    width: 90px;
}

.footer_contact,
.footer_email {

    font-size: 17px;
    display: flex;
    flex-direction: column;
    font-family: "Lato", arial, sans-serif;
    text-decoration: none;
    text-align: left;
    color: #000000;
}

.footer_contact:hover,
.footer_email:hover,
.footer_call a:hover {
    color: #0ba584;
    text-decoration: underline;
}

.footer_sub_contact {
    margin-left: 10px;
}

.footer_call {
    font-size: 17px;
    display: flex;
    font-family: "Lato", arial, sans-serif;
    text-decoration: none;
    text-align: left;
    color: #000000;
}

.footer_call a {
    color: #000000;
    text-decoration: none;
}

.contact_btn {
    color: white;
    margin-top: 20px;
    width: 150px;
    height: 55px;
    border-radius: 40px !important;
}

.footer_btn {
    display: flex;
    justify-content: flex-start;
}

.footer_nav_list li {
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1px;
    list-style: none;
    font-family: "Lato", arial, sans-serif;
}

.footer_nav_list a {
    text-decoration: none;
    color: #000000;
}

.footer_nav_list a:hover {
    text-decoration: underline;
    color: #0ba584;
}

.footer_nav_list {
    padding: 10px;
    text-align: left;
}

.share_icon_section {
    width: 100%;
    display: flex;
}

.share_icon {
    border-radius: 50%;
    background-color: white;
    padding: 8px;
    margin: 8px;
    border: 1px solid black;
}

.share_icon:hover {
    background-color: #202020;
    color: #fff;
}

.condition {
    width: 100%;
    color: #000000;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: "Lato", arial, sans-serif;
}

.terms {
    color: #000000;
    font-size: 20px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-family: "Lato", arial, sans-serif;
}

.terms a {
    text-decoration: none;
    color: #000000;
}

.terms a:hover {
    text-decoration: underline;
    color: #0ba584;
}

.floated_footer_logo img {
    width: 100px;
    float: left;
}

.responsive_map iframe {
    width: 100%;
    height: 200px;
    margin-left: 50px;
    border-radius: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

/* -----------------------------------------------------------------responsive_css_code-------------------------------------- */
@media screen and (max-width:450px) {
    footer {
        width: 100%;
        height: auto;
        background-color: #ffffff;
        overflow: hidden;
    }

    .footer_section {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 30px 20px 5px;
    }

    .footer_menu_row {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .footer_menu_col {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .share_icon_section {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .footer_logo {
        text-align: center;
    }

    .footer_logo img {
        width: 90px;
    }

    .hide_footer {
        display: none;
    }

    .footer_text_container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .footer_terms_row {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }

    .footer_sub_head {
        text-align: left;
        color: #000000;
        font-size: 15px;
        width: 100%;
        font-weight: 300;
        margin-top: 15px;
        letter-spacing: 1px;
        text-align-last: left;
        font-family: "Lato", arial, sans-serif;
    }

    .footer_sub_contact {
        width: 300px;
    }

    .contact_btn {
        color: white;
        margin-top: 20px;
        width: 150px;
        height: 55px;
        border-radius: 40px !important;
    }

    .terms {
        color: #000000;
        margin-top: 15px;
        margin-left: 0px;
        font-size: 15px;
        letter-spacing: 1px;
        margin-bottom: 5px;
        font-family: "Lato", arial, sans-serif;
        text-align: center;
    }

    .condition {
        width: 300px;
        color: #000000;
        font-size: 12px;
        letter-spacing: 1px;
        margin-bottom: 5px;
        margin-top: 5px;
        font-family: "Lato", arial, sans-serif;
        text-transform: uppercase;
    }

    .responsive_map iframe {
        width: 100%;
        height: 200px;
        margin-left: 0px;
        border-radius: 20px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }

}