@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tangerine&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: #d1dadb;
}

::-webkit-scrollbar {
    width: 0;
}

/* ----------------------------------------------top section-------------------------------------------- */
.top_head {
    width: 100%;
    height: 50px;
    background-color: #1c292c;
    color: #fff;
    font-family: "Lato", sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 15px;
}

.top_head_text a {
    margin-left: 10px;
    color: rgb(106, 219, 182);
}

/* ---------------------------------------------------main-section------------------------------------------- */
.main_body {
    width: 100%;
    height: auto;
    padding: 10px 0;
    position: relative;
    top: -50px;
    margin-top: 30px;
    margin-bottom: -70px;
    border-radius: 20px;
    background-color: #fff;
}

/* -------------------------------------------------------------------------hero section----------------------------------------------------------------- */
.hero_section {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.hero_section_container {
    width: 99%;
    margin: 0 auto;
    height: auto;
    padding: 10px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 70%;
    justify-content: flex-start;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.917), rgba(52, 48, 48, 0.639)), url('Images/gallery_hero_img.jpg');
    background-size: cover;
}

.hero_section_text_container {
    padding: 20px;
    color: #fff;
    display: grid;
    margin-bottom: 60px;
    justify-content: center;
    align-items: flex-start;
    text-transform: uppercase;
}

.hero_section_text_container .row,
.hero_btn_container {
    margin-left: 100px;
}

.hero_section_text_container p {
    margin-top: 40px;
}

.hero_text {
    margin-top: 60px;
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    font-weight: 100;
    line-height: 40px;
}

.hero_text_cursive {
    color: #0fc29c;
    font-size: 60px;
    text-transform: none;
    font-family: "Tangerine", cursive;
}

.hero_section_icon {
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 15px;
}

.hero_section_btn2 {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    padding: 15px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid rgba(121, 121, 121, 0.897);
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;
}

.hero_section_btn2:hover {
    color: #fff;
    background: rgba(121, 121, 121, 0.897);
    border: 2px solid rgba(121, 121, 121, 0.897);
}

.hero_btn_container {
    display: flex;
    margin: 20px 100px;
}

.hero_section_btn1 {
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    padding: 15px;
    color: #fff;
    letter-spacing: 1px;
    line-height: 15px;
    background-color: #0fc29c;
    border: 1px solid transparent;
    border-radius: 40px;
    margin-right: 20px;
    transition: all 0.3s ease 0s;
}

.hero_btn_container i {
    transform: rotate(45deg);
}

.hero_section_btn1:hover {
    color: #fff;
    background: #0ba584;
}

/* -----------------------------------------------------------button section---------------------------------------- */
.service_btn_container {
    width: 100%;
    height: 130px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.service_btn {
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    padding: 15px 35px;
    color: #000;
    letter-spacing: 1px;
    line-height: 15px;
    background-color: #ffffff;
    border: 1px solid #0ba584;
    border-radius: 40px;
    margin-top: 20px;
    transition: all 0.3s ease 0s;
}

.service_btn i {
    transform: rotate(45deg);
}

.service_btn:hover {
    color: #fff;
    background: #0ba584;
}

/* -----------------------------------------------------------------gallery video section--------------------------------------------------- */
.gallery_video_section {
    width: 100%;
    height: 100%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.background_video_container {
    width: 99%;
    height: 100%;
    overflow: hidden;
}

.background_video_container video {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    filter: brightness(10%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(17, 17, 17, 0.3));
}

.foreground_video_container {
    width: 100%;
    padding: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.foreground_head {
    font-size: 35px;
    font-weight: bolder;
    color: #fff;
    text-transform: uppercase;
}

.foreground_head span {
    color: #0fc29c;
    font-size: 40px;
    text-transform: none;
    font-family: "Tangerine", cursive;
}

.video_container_title {
    display: flex;
    justify-content: center;
    color: #fff;
}

.video_container_title {
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 18px;

}

.foreground_video video {
    width: 300px;
    height: auto;
    margin: 10px;
    border-radius: 5px;
    transition: all 1s ease;
}

.foreground_video {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-flow: row wrap;
}

/* ---------------------------------------------------------------------------gallery photo section------------------------------------------------------- */
.gallery_photo_section {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.album_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gal {
    height: 100%;
    width: 80%;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.photo_title {
    text-align: center;
    font-size: 35px;
    font-weight: bolder;
    text-transform: uppercase;
}

.photo_sub_title {
    text-align: center;
    font-size: 14px;
}

.photo_title span {
    font-size: 35px;
    color: #0fc29c;
}



.trigger {
    width: 200px;
    height: 200px;
    text-align: center;
    padding: 7px 13px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.717), rgba(0, 0, 0, 0.717)), url('Images/g-img-2.png');
    color: #fff;
    background-size: cover;
    font-size: 15px;
    outline: none;
    border: none;
    border-radius: 5px;
}

.gallery_modal {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(14px);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.gallery_modal_content {
    position: absolute;
    max-height: 90%;
    overflow-y: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.600);
    padding: 1rem 1.5rem;
    border-radius: 5px;
    max-width: 1000px;
    z-index: 99;
}

.gallery_head {
    font-size: 25px;
    color: #ffffff;
}

.close-button {
    float: right;
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    transition: .1s linear;
}

.close-button:hover {
    font-size: 38px;
}

.show_modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}


.image_gallery {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.image_gallery a {
    flex-basis: calc(33.3333% - 20px);
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
}

.image_gallery img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


@media only screen and (max-width: 500px) {
    .image_gallery {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        padding: 10px 5px;

    }

    .gallery_modal_content {
        padding: 10px 5px;
        border-radius: 5px;
        width: 80%;
    }

    .image_gallery a {
        margin-bottom: 0px;
        text-align: center;
        text-decoration: none;
    }

    .image_gallery img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .gallery_head {
        font-size: 15px;
        color: #ffffff;
    }
}

/* ------------------------------------------------------------Gallery news section------------------------------------------------------- */
.gallery_news_section {
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #1c292c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .3s ease-in-out;
    margin-bottom: 20px;
}

.new_section_title {
    width: 80%;
    height: 100%;
    text-align: left;
    color: white;
    font-weight: bolder;
    font-size: 35px;
    text-transform: uppercase;
}

.new_section_title span {
    font-weight: 500;
    color: #0fc29c;
}

.new_section_subtitle {
    width: 80%;
    height: 100%;
    text-align: left;
    color: #d1dadb;
    font-size: 12px;
}

.news_container {
    width: 80%;
    height: 100%;
    margin-top: 40px;
}

.news_grid {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
}

.news_background {
    background-image: url('Images/bitcoin.jpg');
    background-size: cover;
    margin: 20px;
    width: 450px;
    height: 450px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    overflow: hidden;
    border-radius: 20px;

}

.main_news {
    font-size: 12px;
    width: 250px;
    height: 250px;
    border-top-right-radius: 20px;
    background-color: #0fc29c;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
    transition: .3s ease-in-out;
}

.news_head {
    width: 100%;
    margin-top: 30px;
    color: #fff;
}

.news_head span {
    padding: 3px 5px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-right: 10px;
    text-transform: uppercase;
}

.news_title {
    width: 100%;
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
}

.news_body {
    width: 100%;
    margin-top: 20px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}

.news_background:hover .main_news {
    transform: scale(1.1);
}

.news_background:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('Images/bitcoin.jpg');
    background-size: cover;
}

.offer_container {
    width: 100%;
    color: #fff;
}

.offer_grid {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto;
    margin-top: 15px;
}

.main_offer {
    width: 100%;
    padding: 5px;
    display: flex;
}

.offer_text_container {
    font-size: 12px;
    width: 250px;
    height: 210px;
    border-radius: 20px;
    background-color: #0fc29c;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    margin-bottom: 15px;
    transition: .3s ease-in-out;

}

.offer_head {
    width: 100%;
    margin-top: 10px;
    color: #fff;
}

.offer_head span {
    padding: 3px 5px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-right: 10px;
    text-transform: uppercase;
}

.offer_title {
    width: 100%;
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
}

.offer_body {
    width: 100%;
    margin-top: 20px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}

.offer_image_container img {
    width: 310px;
    border-radius: 20px;
}

.offer_text_container:hover {
    transform: scale(1.1);
}

@media screen and (max-width:450px) {
    button {
        font-weight: 500;
    }

    .top_head {
        font-size: 14px;
        height: 40px;
    }

    .hero_section_container {
        width: 99%;
        padding: 10px;
        border-radius: 15px;
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.917), rgba(52, 48, 48, 0.639)), url('Images/gallery_hero_img.jpg');
        background-attachment: fixed;
        background-size: cover;
    }

    .hero_section_text_container {
        width: 100%;
        color: #fff;
        display: grid;
        justify-content: center;
        align-items: flex-start;
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    .hero_section_text_container .row,
    .hero_btn_container {
        margin: 0px;
        margin-top: 15px;
    }

    .hero_section_text_container p {
        margin-top: 20px;
    }

    .hero_text {
        margin-top: 20px;
        font-family: "Poppins", sans-serif;
        font-size: 35px;
        font-weight: 100;
        line-height: 30px;
    }

    .hero_subtext {
        font-size: 12px;
        color: #fff;
    }

    .hero_text_cursive {
        color: #0fc29c;
        font-size: 40px;
        text-transform: none;
        font-family: "Tangerine", cursive;
    }

    .hero_btn_container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .hero_section_btn1 {
        width: 300px;
        text-transform: uppercase;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 13px;
        padding: 15px;
        color: #fff;
        letter-spacing: 1px;
        line-height: 15px;
        background-color: #0fc29c;
        border: 1px solid transparent;
        border-radius: 40px;
        margin-right: 0px;
        transition: all 0.3s ease 0s;
    }

    /* -----------------------------------------------------galary_btn_section----------------------------------------- */
    .service_btn_container {
        width: 100%;
        height: 140px;
        padding: 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .service_btn_grid {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .service_info_description p {
        color: #404040;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.5px;
        margin-bottom: 16px;
    }


    .service_btn {
        width: 250px;
        text-transform: uppercase;
        font-weight: 500;
        font-family: "Poppins", sans-serif;
        font-size: 15px;
        padding: 15px 25px;
        color: #000;
        letter-spacing: 1px;
        line-height: 15px;
        background-color: #ffffff;
        border: 1px solid #0ba584;
        border-radius: 40px;
        margin-top: 20px;
        transition: all 0.3s ease 0s;
    }

    /* ----------------------------------------------------------photo_section-------------------------------------- */

    .tab-content {
        width: 100%;
        display: flex;
        padding: 0px;
        justify-content: center;
        align-items: center;
    }

    .gal {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }

    .gal img {
        height: auto;
    }

    .photo_title {
        text-align: center;
        font-size: 25px;
        margin-top: 20px;
        font-weight: bolder;
        text-transform: uppercase;
    }

    .photo_sub_title {
        text-align: center;
        font-size: 12px;
    }

    .img-hover-zoom {
        padding: 10px 0;
        overflow: hidden;
    }




    /* ------------------------------------------------------------Gallery news section------------------------------------------------------- */
    .gallery_news_section {
        width: 100%;
        height: 100%;
        padding: 50px 10px;
        background-color: #1c292c;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: .3s ease-in-out;
    }

    .new_section_title {
        width: 80%;
        height: 100%;
        text-align: left;
        color: white;
        font-weight: bolder;
        font-size: 25px;
        text-transform: uppercase;
    }

    .new_section_title span {
        font-weight: 500;
        color: #0fc29c;
    }

    .new_section_subtitle {
        width: 80%;
        height: 100%;
        text-align: center;
        color: #d1dadb;
        font-size: 12px;
    }

    .news_container {
        width: 80%;
        height: 100%;
        margin-top: 40px;
    }

    .news_grid {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .news_background {
        display: none;
    }


    .offer_container {
        width: 100%;
        color: #fff;
    }

    .offer_grid {
        width: 100%;
        display: grid;
        grid-template-rows: auto auto;
        margin-top: 15px;
    }

    .main_offer {
        width: 100%;
        padding: 5px;
        display: flex;
    }

    .offer_text_container {
        font-size: 12px;
        width: 200px;
        height: 200px;
        border-radius: 20px;
        background-color: #0fc29c;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        margin-bottom: 15px;
        transition: .3s ease-in-out;
        position: relative;
        z-index: 20;
    }

    .offer_head {
        width: 100%;
        margin-top: 10px;
        color: #fff;
    }

    .offer_head span {
        padding: 3px 5px;
        border: 1px solid #fff;
        border-radius: 5px;
        margin-right: 10px;
        text-transform: uppercase;
    }

    .offer_title {
        width: 100%;
        margin-top: 10px;
        font-size: 12px;
        font-weight: bold;
        color: #fff;
    }

    .offer_body {
        width: 100%;
        margin-top: 10px;
        font-size: 10px;
        font-weight: bold;
        color: #fff;
    }

    .offer_image_container img {
        width: 200px;
        height: 200px;
        position: relative;
        z-index: 10;
        left: -150px;
        border-radius: 20px;
        transition: .3s ease-in-out;
    }

    .main_offer:hover .offer_image_container img {
        transform: translateX(40px);
    }

    .main_offer:hover .offer_text_container {
        transform: translateX(-20px);
    }

    .offer_text_container:hover {
        transform: scale(1);
    }

}