* {
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
}

body {
  overflow-x: hidden;
}

.top_head {
  width: 100%;
  height: 50px;
  background-color: #1c292c;
  color: #fff;
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 15px;
}

.top_head_text a {
  margin-left: 10px;
  color: rgb(106, 219, 182);
}

.nav_section {
  width: 98%;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(14px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: sticky;
  margin: 5px auto;
  top: 5px;
  z-index: 88;
}

.icon_grid {
  width: 100%;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: auto auto;
  gap: 10px;
  border-radius: 20px;
  padding: 5px 10px;
}


.icon_img img {
  height: 50px;
  width: 100%;
  padding: 0 20px;
}

.nav_links {
  margin: 0px;
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.contact_btn_section {
  display: flex;
}

.Contact_btn i {
  transform: rotate(45deg);
}

.Contact_btn {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  padding: 10px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(121, 121, 121, 0.897);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.Contact_btn:hover {
  color: #fff;
  background: rgba(121, 121, 121, 0.897);
  border: 2px solid rgba(121, 121, 121, 0.897);
}

.get_in_touch_btn i {
  transform: rotate(45deg);
}

.get_in_touch_btn {
  font-family: Tahoma, Verdana, Geneva, sans-serif;
  font-size: 13px;
  padding: 10px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 15px;
  border-radius: 40px;
  background-color: #0fc29c;
  border: 2px solid #0fc29c;
  margin-left: 10px;
  transition: all 0.3s ease 0s;
}

.get_in_touch_btn:hover {
  color: #fff;
  background: #0ba584;
  border: 2px solid #0ba584;
}


/*Styling Hamburger Icon*/
.hamburger div {
  width: 30px;
  height: 3px;
  background: #000;
  margin: 5px;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.hamburger {
  display: none;
}

.dropdown_section {
  float: left;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}

.dropdown_section .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #000;
  padding: 8px 16px;
  background-color: transparent;
  transition: 0.2s ease-in-out;
}

.navbar_section:hover,
.dropdown_section:hover .dropbtn {
  color: #0ba584;
  z-index: 10;
}

.dropdown_section-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  z-index: 1;
}

.dropdown_section-content a {
  float: none;
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown_section i {
  font-size: 10px;
}

.dropdown_section-content a:hover {
  background-color: #ddd;
  border-radius: 10px;
}

.dropdown_section:hover .dropdown_section-content {
  display: block;
}

.dropdown_section i {
  transform: rotate(45deg);
}

/*Stying for small screens*/
@media screen and (max-width: 800px) {
  button {
    font-weight: 500;
  }

  .top_head {
    font-size: 12px;
    height: 40px;
  }

  .icon_img img {
    width: 146.6px;
    height: 40px;
    width: 100%;
    padding: 0 20px;
  }

  .nav_section {
    width: 98%;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(14px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: sticky;
    margin: 5px auto;
    top: 5px;
    z-index: 88;
  }

  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }

  .dropdown_section-content {
    display: none;
    position: absolute;
    left: 100px;
    top: 20px;
    font-size: 15px;
    background-color: #f9f9f9;
    min-width: 100px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    z-index: 1;
  }

  .get_in_touch_btn {
    margin-left: 0px;
    margin-top: 10px;
    transition: all 0.3s ease 0s;
  }

  .nav_links {
    position: fixed;
    top: 50px;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(14px);
    height: 230px;
    border-radius: 10px;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    clip-path: circle(10px at 90% -20%);
    -webkit-clip-path: circle(10px at 90% -10%);
    transition: all .4s ease-out;
    pointer-events: none;
  }

  .nav_links.open {
    background: rgba(255, 255, 255);
    backdrop-filter: blur(14px);
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }

  .nav_links li {
    opacity: 0;
  }

  .nav_links li:nth-child(1) {
    transition: all 0.3s ease 0.2s;
  }

  .nav_links li:nth-child(2) {
    transition: all 0.3s ease 0.3s;
  }

  .nav_links li:nth-child(3) {
    transition: all 0.3s ease 0.4s;
  }

  .nav_links li:nth-child(4) {
    transition: all 0.3s ease 0.5s;
  }

  .nav_links li.fade {
    opacity: 1;
  }
}

/*Animating Hamburger Icon on Click*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}