@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tangerine&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: #d1dadb;
}

::-webkit-scrollbar {
    width: 0;
}

/* ----------------------------------------------top section-------------------------------------------- */
.top_head {
    width: 100%;
    height: 50px;
    background-color: #1c292c;
    color: #fff;
    font-family: "Lato", sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 15px;
}

.top_head_text a {
    margin-left: 10px;
    color: rgb(106, 219, 182);
}

/* ---------------------------------------------------main-section------------------------------------------- */
.main_body {
    width: 100%;
    height: auto;
    padding: 10px 0;
    position: relative;
    top: -50px;
    margin-top: 30px;
    margin-bottom: -70px;
    border-radius: 20px;
    background-color: #fff;
}

/* ----------------------------------------------------------icon section--------------------------------------------- */

/* -------------------------------------------------------------------------hero section----------------------------------------------------------------- */
.hero_section {
    width: 100%;
    height: auto;
    margin-top: 20px;
    overflow: hidden;
}

.hero_section_container {
    width: 99%;
    margin: 0 auto;
    height: auto;
    padding: 10px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 70%;
    justify-content: flex-start;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.917), rgba(52, 48, 48, 0.639)), url('Images/service_hero_img.jpg');
    background-size: cover;
}

.hero_section_text_container {
    padding: 20px;
    color: #fff;
    margin-bottom: 100px;
    display: grid;
    justify-content: flex-start;
    text-transform: uppercase;
}

.hero_section_text_container .row,
.hero_btn_container {
    margin-left: 100px;
}

.hero_section_text_container p {
    margin-top: 40px;
    margin-bottom: 50px;
}

.hero_text {
    margin-top: 50px;
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    font-weight: 100;
    line-height: 40px;
}

.hero_text_cursive {
    color: #0fc29c;
    font-size: 60px;
    text-transform: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero_section_icon {
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 15px;
}

.hero_section_btn2 {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    padding: 15px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid rgba(121, 121, 121, 0.897);
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;
}

.hero_section_btn2:hover {
    color: #fff;
    background: rgba(121, 121, 121, 0.897);
    border: 2px solid rgba(121, 121, 121, 0.897);
}

.hero_btn_container {
    display: flex;
    justify-content: center;
    margin: 20px 100px;
}

.hero_section_btn1 {
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    padding: 15px;
    color: #fff;
    letter-spacing: 1px;
    line-height: 15px;
    background-color: #0fc29c;
    border: 1px solid transparent;
    border-radius: 40px;
    margin-right: 20px;
    transition: all 0.3s ease 0s;
}

.hero_btn_container i {
    transform: rotate(45deg);
}

.hero_section_btn1:hover {
    color: #fff;
    background: #0ba584;
}


/* ---------------------------------------------------------------------------service info section------------------------------------------------------- */
.service_info_seciton {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    margin: 10px 0;
}

.service_info_container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 0 100px;
}

.service_info_img_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service_info_img {
    width: 300px;
    background-blend-mode: hard-light;
    border-radius: 20px;
}

.service_info_description_container {
    width: 100%;
    height: 100%;
    margin-left: 100px;
}

.service_info_description_head {
    width: 100%;
    padding: 20px;
    font-size: 25px;
    font-weight: bolder;
    text-transform: uppercase;
}

.service_info_description_head span {
    color: #0ba584;
}

.service_info_description_container {
    width: 100%;
    padding: 10px auto;
}

.service_info_description p {
    color: #404040;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-bottom: 16px;
}

.service_btn_container {
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: center;
}

.service_btn {
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    padding: 15px 35px;
    color: #000;
    letter-spacing: 1px;
    line-height: 15px;
    background-color: #ffffff;
    border: 1px solid #0ba584;
    border-radius: 40px;
    margin-top: 20px;
    transition: all 0.3s ease 0s;
}

.service_btn i {
    transform: rotate(45deg);
}

.service_btn:hover {
    color: #fff;
    background: #0ba584;
}

/* -----------------------------------------------------------Tax consulting section-------------------------------------------------------------------- */
.similar_info1_section {
    width: 100%;
    height: 100%;
    background-color: #d1dadb;
    overflow: hidden;
}

.similar_info1_container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 50px 100px;
}

.similar_info1_head_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.similar_info1_description_container {
    width: 100%;
    height: 100%;
    padding: 0 50px;
    display: flex;
    justify-content: flex-start;
}

.similar_info1_description_head {
    width: 100%;
    padding: 20px;
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
}

.similar_info1_description_head span {
    color: #0ba584;
}

.similar_info1_description_container {
    width: 100%;
    padding: 10px auto;
}

.similar_info1_description p {
    color: #404040;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-bottom: 16px;
}


/* ------------------------------------------------------------------Asset management------------------------------------ */
.similar_info2_section {
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
}

.similar_info2_container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 50px 100px;
}

.similar_info2_head_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.similar_info2_description_container {
    width: 100%;
    height: 100%;
    padding: 0 50px;
    display: flex;
    justify-content: flex-start;
}

.similar_info2_description_head {
    width: 100%;
    padding: 20px;
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
}

.similar_info2_description_head span {
    color: #0ba584;
}

.similar_info2_description_container {
    width: 100%;
    padding: 10px auto;
}

.similar_info2_description p {
    color: #404040;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-bottom: 16px;
}

/* ------------------------------------------------------------------------------------------------------------------- */
.contact_us_section {
    width: 100%;
    height: 100%;
    padding: 50px 100px;
    background-color: #1c292c;
    overflow: hidden;
    margin-bottom: 10px;
}

.contact_us_head {
    width: 100%;
    padding: 10px;
    font-size: 23px;
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.contact_us_title span {
    font-size: 40px;
    font-weight: 200;
}

.contact_us_subhead {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}


.contact_us_btn_container {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
}

.contact_us_btn {
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    padding: 15px 35px;
    color: #000;
    letter-spacing: 1px;
    line-height: 15px;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 40px;
    transition: all 0.3s ease 0s;
}

.contact_us_btn i {
    transform: rotate(45deg);
}

.contact_us_btn:hover {
    color: #fff;
    background: #0ba584;
}

/* --------------------------------------------modal-------------------------------------------------------- */

.contact_form_section {
    width: 98%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 100%;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.message {
    color: rgba(47, 44, 44, 0.822);
    font-size: 14px;
}

.flex {
    display: flex;
    width: 100%;
    gap: 30px;
}

.form label {
    position: relative;
    text-transform: uppercase;
}

.form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 5px;
}

.form label .input+span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: rgb(14, 13, 13);
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.form label .input:placeholder-shown+span {
    top: 15px;
    font-size: 0.9em;
}

.form label .input:focus+span,
.form label .input:valid+span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
}

.form label .input:valid+span {
    color: green;
}

.input01 {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 5px;
}

.form label .input01+span {
    position: absolute;
    left: 10px;
    top: 50px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    padding: 0 5px;
    background-color: #fff;
    transition: 0.3s ease;
}

.form label .input01:placeholder-shown+span {
    top: 50px;
    font-size: 0.9em;
    color: #1c292c;
}

.form label .input01:focus+span,
.form label .input01:valid+span {
    top: -10px;
    font-size: 0.7em;
    font-weight: 600;
}

.form label .input01:valid+span {
    color: green;
}


.modal_btn1 {
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    padding: 15px;
    color: #fff;
    letter-spacing: 1px;
    line-height: 15px;
    background-color: #0fc29c;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
}

.modal_btn1 i {
    transform: rotate(45deg);
}

.modal_btn1:hover {
    color: #fff;
    background: #0ba584;
}

.modal_btn2 {
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    padding: 15px;
    color: #fff;
    letter-spacing: 1px;
    line-height: 15px;
    background-color: #000000;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
}


.modal_btn2:hover {
    color: #fff;
    background: #e01616;
}

.modal_btn_container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* ---------------------------------------------floating_modal------------------------------------------------------------ */

.floating_modal {
    width: 100%;
    background-color: #1c292c;
    color: #fff;
    padding: 5px;
    position: fixed;
    z-index: 99;
    bottom: 0px;
}

.floating_modal_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.floating_modal_head {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Tahoma', Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.floating_modal_input_container {
    margin-top: 5px;
    display: flex;
}

.floating_modal_input_container button {
    width: fit-content;
    min-width: 100px;
    height: 45px;
    padding: 8px;
    border-radius: 25px;
    font-size: 12px;
    color: #fff;
    position: relative;
    left: -20px;
    border: 1px solid rgb(255, 99, 99);
    box-shadow: 0px 0px 20px -20px;
    cursor: pointer;
    background-color: rgb(255, 99, 99);
    transition: all 0.2s ease-in-out 0ms;
    user-select: none;
}

.floating_modal_input_container button:hover {
    background-color: #f24545;
    border: 1px solid #f24545;
    box-shadow: 0px 0px 20px -18px;
}

.floating_modal_input_container button:active {
    transform: scale(1.05);
}

.floating_modal_input_container label {
    width: 220px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    color: #44494a;
    background-color: #fff;
    border: 1px solid #fff;
}

/* --------------------------------------------------------------------floating_contact--------------------------------------- */
.floating_contact_btn_container {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 50px;
    bottom: 100px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #25D366;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: .2s ease-in-out;
    z-index: 99;
}

.floating_contact_btn {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.floating_contact_btn i {
    color: #fff;
    font-size: 30px;
}

.floating_contact_btn_container a {
    text-decoration: none;
}

.floating_contact_btn_container:hover {
    background-color: #199547;
    transform: scale(0.95);
}

@media screen and (max-width:450px) {

    button {
        font-weight: 500;
    }

    .top_head {
        font-size: 14px;
        height: 40px;
    }

    .hero_section_container {
        width: 99%;
        padding: 10px;
        border-radius: 15px;
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.917), rgba(52, 48, 48, 0.639)), url('Images/mobile_service_hero_img.jpg');
        background-attachment: fixed;
        background-size: cover;
    }

    .hero_section_text_container {
        width: 100%;
        color: #fff;
        display: grid;
        justify-content: center;
        align-items: flex-start;
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    .hero_section_text_container .row,
    .hero_btn_container {
        margin: 0px;
        margin-top: 15px;
    }

    .hero_section_text_container p {
        margin-top: 20px;
        color: #fff;
    }

    .hero_text {
        margin-top: 20px;
        font-family: "Poppins", sans-serif;
        font-size: 35px;
        font-weight: 100;
        line-height: 30px;
    }

    .hero_subtext {
        font-size: 12px;
        color: #fff;
    }

    .hero_text_cursive {
        color: #0fc29c;
        font-size: 40px;
        text-transform: none;
        font-family: "Tangerine", cursive;
    }

    /* ------------------------------------------------------------service_info_seciton-----------------------------------    */
    .service_info_container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        padding: 10px;
    }

    .service_info_img_container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .service_info_description_container {
        width: 100%;
        height: 100%;
        margin-left: 0px;
        padding: 10px;
    }

    .service_info_description_head {
        width: 100%;
        padding: 0px 20px;
        font-size: 25px;
        font-weight: bolder;
        text-transform: uppercase;
    }


    .service_btn_grid {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .service_info_description p {
        color: #404040;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.5px;
        margin-bottom: 16px;
    }


    .service_btn {
        width: 250px;
        text-transform: uppercase;
        font-weight: 500;
        font-family: "Poppins", sans-serif;
        font-size: 15px;
        padding: 15px 25px;
        color: #000;
        letter-spacing: 1px;
        line-height: 15px;
        background-color: #ffffff;
        border: 1px solid #0ba584;
        border-radius: 40px;
        margin-top: 20px;
        transition: all 0.3s ease 0s;
    }

    /* -----------------------------------------------------info_section------------------------------------------------------ */

    .similar_info1_container,
    .similar_info2_container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .similar_info1_description_container,
    .similar_info2_description_container {
        width: 100%;
        height: 100%;
        padding: 0 10px;
        display: flex;
        justify-content: flex-start;
    }

    .similar_info1_description_head,
    .similar_info2_description_head {
        width: 100%;
        padding: 20px;
        font-size: 25px;
        font-weight: bolder;
        text-align: center;
        text-transform: uppercase;
    }


    .similar_info1_description_container,
    .similar_info2_container {
        width: 100%;
        padding: 10px;
    }



    /* ----------------------------------contact_section------------------------------------------------------------------- */

    .contact_us_section {
        width: 100%;
        height: 100%;
        padding: 30px 10px;
        background-color: #1c292c;
        overflow: hidden;
    }

    .contact_us_head {
        width: 100%;
        padding: 10px;
        font-size: 20px;
        color: #fff;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
    }

    .contact_us_head span {
        font-size: 20px;
        font-weight: 200;
        color: #0fc29c;
    }

    .contact_us_subhead {
        width: 100%;
        font-size: 12px;
        text-align: center;
        color: #fff;
    }

    .contact_us_btn {
        text-transform: uppercase;
        font-family: "Poppins", sans-serif;
        font-size: 15px;
        padding: 15px 35px;
        font-weight: 500;
        color: #000;
        letter-spacing: 1px;
        line-height: 15px;
        background-color: #ffffff;
        border: 1px solid transparent;
        border-radius: 40px;
        margin-top: 10px;
        transition: all 0.3s ease 0s;
    }

    .contact_us_btn i {
        transform: rotate(45deg);
    }

    .contact_us_btn:hover {
        color: #fff;
        background: #0ba584;
    }

   /* ----------------------------------------------------------------floating_modal------------------------------------------ */
  .floating_modal_input_container {
    margin-top: 10px;
    display: flex;
    transform: scale(0.85);
    gap: 5px;
  }

  .floating_modal_head {
    font-size: 14px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Tahoma', Geneva, Verdana, sans-serif;
    font-weight: 500;
  }

  .floating_modal {
    width: 100%;
    background-color: #1c292c;
    color: #fff;
    padding: 2px;
    position: fixed;
    z-index: 90;
    bottom: 0px;
  }

  .floating_modal_input_container {
    margin-top: 5px;
    display: flex;
  }

  .floating_modal_input_container label {
    padding-left: 20px;
  }

  .floating_modal_input_container button {
    left: -22px;
  }

  /* --------------------------------------------------------------------floating_contact--------------------------------------- */
  .floating_contact_btn_container {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 20px;
    bottom: 90px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #25D366;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: .2s ease-in-out;
    z-index: 99;
  }

  .floating_contact_btn {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .floating_contact_btn i {
    color: #fff;
    font-size: 30px;
  }

  .floating_contact_btn_container a {
    text-decoration: none;
  }

  .floating_contact_btn_container:hover {
    background-color: #199547;
    transform: scale(0.95);
  }
}